body{
    padding: 0;
    margin: 0;
}
.globo{
font-size: 10px;
font-family: 'Globotipo Variable', 'Globotipo', 'Globotipo UI', 'Globotipo Display', 'Globotipo Book', Avenir, Ubuntu, -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}
.glob{
    display: flex;
    gap: 10px;
    position:relative;
    left: 50px;
}

a {
    text-decoration: var(--font-text-decoration-null);
}

.gl:hover {
    color: #0669de;
    text-decoration: underline;
    
}

.gl {
    color: #0669de;
}

.g1{
    color: #C4170C;
}
.ge{
    color: #06AA48;
}
.gs{
 color:#FF6700 ;
}
.gp{
    color: #FB0334;
}
.ca{
    color: rgb(254, 185, 58);
}
header{
    background-color: forestgreen;
    padding: 50px;
}
